﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Terry Patterson's OCAS Take-Home Assignment. <a asp-page="/ActivitySignup/Create">Please click here</a> to start entering Activity Signup items.</p>
</div>
