﻿@page
@model ActivitySignup_Backend.Views.ActivitySignup.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActivitySignupItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.Activity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.Comments)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ActivitySignupItem.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
