﻿@page
@model ActivitySignup_Backend.Views.ActivitySignup.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActivitySignupItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.Activity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignupItem.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignupItem.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ActivitySignupItem.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
