﻿@page
@model ActivitySignup_Backend.Views.ActivitySignup.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActivitySignupItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActivitySignupItem.Id" />
            <div class="form-group">
                <label asp-for="ActivitySignupItem.FirstName" class="control-label"></label>
                <input asp-for="ActivitySignupItem.FirstName" class="form-control" />
                <span asp-validation-for="ActivitySignupItem.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivitySignupItem.LastName" class="control-label"></label>
                <input asp-for="ActivitySignupItem.LastName" class="form-control" />
                <span asp-validation-for="ActivitySignupItem.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivitySignupItem.EmailAddress" class="control-label"></label>
                <input asp-for="ActivitySignupItem.EmailAddress" class="form-control" />
                <span asp-validation-for="ActivitySignupItem.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivitySignupItem.Activity" class="control-label"></label>
                <input asp-for="ActivitySignupItem.Activity" class="form-control" />
                <span asp-validation-for="ActivitySignupItem.Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivitySignupItem.Comments" class="control-label"></label>
                <input asp-for="ActivitySignupItem.Comments" class="form-control" />
                <span asp-validation-for="ActivitySignupItem.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
