﻿@page
@model ActivitySignup_Frontend.Views.ActivitySignup.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivitySignupItem[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitySignupItem[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitySignupItem[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitySignupItem[0].Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitySignupItem[0].Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ActivitySignupItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
        </tr>
}
    </tbody>
</table>
